<!-- ===========================================================================
        HEADER BACKGROUND
        ================================================================================-->
      <section class="header-breadcrumbs">
        <div class="uk-cover-background uk-position-relative account-breadcrumbs">
          <img class="uk-invisible" src="images/images_sport/account.jpg" alt="Account Breadcrumbs">
          <div class="uk-position-cover uk-flex uk-flex-center uk-flex-middle breadcrumbs-wrapper">
            <div>
              <ul class="uk-breadcrumb">
                <li><a href="">home</a></li>
                <li class="uk-active"><a href="#">account</a></li>
              </ul>
              <div class="title-line-lg"></div>
              <h1 class="h-1">account</h1>
            </div>
          </div>
        </div>
      </section>
    </header>
    <!-- / HEADER END -->
    <!-- ===========================================================================
      ACCOUNT
      ================================================================================-->
    <div class="account section-padding-top section-padding-bottom">
      <div class="uk-container uk-container-center">
        <div class="uk-grid" data-uk-grid-margin>
          <aside class="uk-width-medium-3-10">
            <h4 class="h-4">my account</h4>
            <div class="title-line-lg"></div>
            <ul class="aside-navigation">
              <li class="active"><a href="#">Account Information<i class="uk-icon-angle-right icon-right"></i></a></li>
              <li><a href="#">My Orders<i class="uk-icon-angle-right icon-right"></i></a></li>
              <li><a href="#">My Shoping Bag<i class="uk-icon-angle-right icon-right"></i></a></li>
            </ul>
            <div class="uk-grid uk-grid-small uk-grid-width-large-1-2" data-uk-grid-margin>
              <div>
                <button class="uk-button btn-custom">edit account</button>
              </div>
              <div>
                <button class="uk-button btn-custom-black">sign out</button>
              </div>
            </div>
          </aside>
          <div class="uk-width-medium-7-10">
            <p class="text-sixteen border-b2 account-welcome">
              Welcome <span class="post-author">John Doe</span>. This is your account. Click on the sidebar sections to manage your personal information, review your shoping bag, check the status of an order or delivery information. 
            </p>
            <ul class="account-info">
              <li class="uk-grid">
                <p class="uk-width-large-1-5 uk-width-small-1-3 uk-text-capitalize uk-padding-remove">first name:</p>
                <p class="uk-width-2-5 uk-text-capitalize uk-text-bold">john</p>
              </li>
              <li class="uk-grid">
                <p class="uk-width-large-1-5 uk-width-small-1-3 uk-text-capitalize uk-padding-remove">last name:</p>
                <p class="uk-width-2-5 uk-text-capitalize uk-text-bold">doe</p>
              </li>
              <li class="uk-grid">
                <p class="uk-width-large-1-5 uk-width-small-1-3 uk-text-capitalize uk-padding-remove">e-mail:</p>
                <p class="uk-width-2-5 uk-text-bold">JohnDoe@email.com</p>
              </li>
              <li class="uk-grid">
                <p class="uk-width-large-1-5 uk-width-small-1-3 uk-text-capitalize uk-padding-remove">phone number:</p>
                <p class="uk-width-2-5 uk-text-bold">+1-202-555-0188</p>
              </li>
              <li class="uk-grid">
                <p class="uk-width-large-1-5 uk-width-small-1-3 uk-text-capitalize uk-padding-remove">phone number:</p>
                <div class="uk-width-large-4-5 uk-width-small-2-3">
                  <p class="uk-width-1-1 uk-text-capitalize uk-text-bold account-info-lg">1618 Aspen Court</p>
                  <p class="uk-width-1-1 uk-text-capitalize uk-text-bold account-info-lg">Satellite Beach, FL 32937</p>
                </div>
              </li>
              <li class="uk-grid">
                <p class="uk-width-large-1-5 uk-width-small-1-3 uk-text-capitalize uk-padding-remove">training price plan:</p>
                <div class="uk-width-large-4-5 uk-width-small-2-3">
                  <p class="uk-width-1-1 uk-text-capitalize uk-text-bold account-info-lg">base plan</p>
                  <p class="uk-width-1-1 account-info-lg">expiry date 07 / 23 / 16</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
        <!-- ===========================================================================
      HOME BLOG | WELLNESS
      ================================================================================-->
    <section class="home-blog-wellness">
      <div class="container-fluid uk-padding-remove">
        <div class="uk-grid">
          <div class="uk-width-1-1">
            <div class="uk-slidenav-position section-padding-top"  data-uk-slideshow>
              <ul class="uk-slideshow">
                <li class="uk-cover-background">
                  <figure class="uk-container-center uk-container">
                    <h2 class="h-2">User Elvin Herrera's Fitness Blog</h2>
                    <div class="title-line-lg"></div>
                    <figcaption class="uk-position-relative uk-overlay">
                      <img src="images/images_wellness/blog_slide_02.jpg" alt="Slide Image">
                      <div class="uk-overlay-panel uk-overlay-bottom blog-info">
                        <h3 class="h-3">Mastering the Burpee's and all of it's variants</h3>
                        <div class="title-line-lg"></div>
                        <ul class="blog-info-list">
                          <li><a class="post-author" href="#">Elvin Herrera</a></li>
                          <li><a class="post-date" href="#">04/12/16</a></li>
                          <li>In: <a class="post-category">Life Style</a></li>
                        </ul>
                        <p class="text-overview">Cliche everyday carry selvage, chicharrones chambray four dollar toast hashtag fingerstache. Irony kombucha wayfarers church-key keytar. Wolf photo booth yr banjo chia jean shorts. Taxider my plaid food truck, everyday carry brooklyn photo booth whatever</p>
                        <a href="single_post_wellness.html" class="text-overview">Read more<img class="icon-right" src="images/images_wellness/icon-arrow-right.png" alt="Read More Icon"></a>
                      </div>
                    </figcaption>
                  </figure>
                </li>
                <li class="uk-cover-background">
                  <figure class="uk-container-center uk-container">
                    <h2 class="h-2">Your blog</h2>
                    <div class="title-line-lg"></div>
                    <figcaption class="uk-position-relative uk-overlay">
                      <img src="images/images_wellness/blog_slide_01.jpg" alt="Slide Image">
                      <div class="uk-overlay-panel uk-overlay-bottom blog-info">
                        <h3 class="h-3">hiking in the woods with our instructors</h3>
                        <div class="title-line-lg"></div>
                        <ul class="blog-info-list">
                          <li><a class="post-author" href="#">John Doe</a></li>
                          <li><a class="post-date" href="#">04/12/16</a></li>
                          <li>In: <a class="post-category">Travel</a></li>
                        </ul>
                        <p class="text-overview">Cliche everyday carry selvage, chicharrones chambray four dollar toast hashtag fingerstache. Irony kombucha wayfarers church-key keytar. <br>Wolf photo booth yr banjo chia jean shorts. Taxider my plaid food truck, everyday carry brooklyn photo booth whatever</p>
                        <a href="single_post_wellness.html" class="text-overview">Read more<img class="icon-right" src="images/images_wellness/icon-arrow-right.png" alt="Read More Icon"></a>
                      </div>
                    </figcaption>
                  </figure>
                </li>
              </ul>
              <a href="" class="uk-slidenav uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
              <a href="" class="uk-slidenav uk-slidenav-next" data-uk-slideshow-item="next"></a>
            </div>
          </div>
        </div>
      </div>
    </section>