      <!-- / MAIN NAV END-->
      <!-- ===========================================================================
        HOME SLIDESHOW | WELLNESS
        ================================================================================-->
<!--       <section class="home-slideshow-wellness">
        <div class="uk-slidenav-position" data-uk-slideshow="{autoplay:true, autoplayInterval: 4000}">
          <ul class="uk-slideshow">
            <li>
              <img class="slideshow-image" src="images/images_wellness/slider_01.jpg" alt="Slide Image">
              <div class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-left">
                <div class="slider-header-group">
                  <h1 class="uk-text-uppercase">Dynamic</h1>
                  <h3 class="uk-text-uppercase uk-text-right">Overall feeling</h3>
                </div>
              </div>
            </li>
            <li>
              <img class="slideshow-image" src="images/images_wellness/slider_02.jpg" alt="Slide Image">
              <div class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-left">
                <div class="slider-header-group">
                  <h1 class="uk-text-uppercase">Freedom</h1>
                  <h3 class="uk-text-uppercase">Where you want</h3>
                </div>
              </div>
            </li>
            <li>
              <img class="slideshow-image" src="images/images_wellness/slider_01.jpg" alt="Slide Image">
              <div class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-left">
                <div class="slider-header-group">
                  <h1 class="uk-text-uppercase">Trendsetter</h1>
                  <h3 class="uk-text-uppercase uk-text-right">Taking action for newer heights</h3>
                </div>
              </div>
            </li>
          </ul>
          <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-flex-center">
            <li data-uk-slideshow-item="0"><a href=""></a></li>
            <li data-uk-slideshow-item="1"><a href=""></a></li>
            <li data-uk-slideshow-item="2"><a href=""></a></li>
          </ul>
        </div>
      </section> -->
      <!-- / SLIDESHOW END -->
                  <!-- ===========================================================================
      HOME VIDEO 
      ================================================================================-->
    <div class="home-video">
      <div class="container-fluid uk-padding-remove">
        <div class="uk-grid">
          <div class="uk-width-1-1">
          <iframe style="padding-left: 255px; padding-top: 100px;" width="800" height="300" allownetworking="internal" src="https://www.youtube.com/embed/zdYzL6wkr0A?rel=0&modestbranding=1&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>        
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / HOME VIDEO END -->
  <!--   </header> -->
    <!-- / HEADER END -->
    <section class="we-are-wellness">
      <div class="uk-container uk-container-center">
        <div class="uk-grid">
          <div class="uk-width-1-1">
            <div class="home-about-classes section-padding-bottom">
              <h2 class="h-2" style="padding-left: 355px;">we are atma training camp</h2>
              <div class="title-line-lg" style="padding-left: 1100px;"></div>
              <div class="uk-grid simple-classes" data-uk-grid-margin>
                <div class="uk-width-large-1-4 uk-width-small-1-2">
                  <figure>
                    <img src="images/images_wellness/about_classes_01.png" alt="Travel and Sports Icon">
                  </figure>
                  <h5 class="h-5">travel and sports</h5>
                  <p>Messenger bag single-origin coffee roof party before they sold out, hoodie crucifix meditation poutine tilde fanny pack locavore microdosing brunch.</p>
                </div>
                <div class="uk-width-large-1-4 uk-width-small-1-2">
                  <figure>
                    <img src="images/images_wellness/about_classes_02.png" alt="Relaxation and Harmony Icon">
                  </figure>
                  <h5 class="h-5">relaxation and harmony</h5>
                  <p>Messenger bag single-origin coffee roof party before they sold out, hoodie crucifix meditation poutine tilde fanny pack locavore microdosing brunch.</p>
                </div>
                <div class="uk-width-large-1-4 uk-width-small-1-2">
                  <figure>
                    <img src="images/images_wellness/about_classes_03.png" alt="Beauty and Health Icon">
                  </figure>
                  <h5 class="h-5">beauty and health</h5>
                  <p>Messenger bag single-origin coffee roof party before they sold out, hoodie crucifix meditation poutine tilde fanny pack locavore microdosing brunch.</p>
                </div>
                <div class="uk-width-large-1-4 uk-width-small-1-2">
                  <figure>
                    <img src="images/images_wellness/about_classes_04.png" alt="Balanced Diet Icon">
                  </figure>
                  <h5 class="h-5">balanced diet</h5>
                  <p>Messenger bag single-origin coffee roof party before they sold out, hoodie crucifix meditation poutine tilde fanny pack locavore microdosing brunch.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
        <!-- ===========================================================================
      HOME ABOUT SLIDESET
      ================================================================================-->

    <section class="home-about section-padding-top section-padding-bottom">
      <div class="uk-container uk-container-center">
        <div class="uk-grid">
          <div class="uk-width-1-1">
            <h2 class="h-2">Enter Trainers and join the Faction that calls to you!</h2>
            <div class="title-line-lg"></div>
            <!-- ABOUT SLIDESET START -->
            <div class="about-slideset">
              <div data-uk-slideset="{small: 2, medium: 3, large: 3}">
                <div class="uk-slidenav-position">
                  <!-- slideset item list -->
                  <ul class="uk-grid uk-slideset">
                    <li class="thumbnails-wrapper">
                      <figure class="uk-overlay uk-animation-hover">
                        <div class="overflow-hidden thumb-img-wrapper">
                          <img class="uk-animation-scale uk-animation-reverse" style="width:364px; height: 580px" src="https://smaldorefp.files.wordpress.com/2014/05/relax.jpg?w=500" alt="https://smaldorefp.files.wordpress.com/2014/05/relax.jpg?w=500">
                        </div>
                        <figcaption class="uk-overlay-panel uk-overlay-bottom">
                          <div class="uk-text-left">
                            <h3 class="h-3">The Yogi Faction</h3>
                            <div class="title-line-lg"></div>
                            <p class="text-overview">The balance of mind and experiencing the actions of spiritual release make our faction the most caring of its kind to the body...</p>
                            <a class="text-overview">Read more<img class="icon-right" src="images/images_wellness/icon-arrow-right.png" alt="Read More Icon"></a>
                          </div>
                        </figcaption>
                      </figure>
                    </li>
                    <li class="thumbnails-wrapper">
                      <figure class="uk-overlay uk-animation-hover">
                        <div class="overflow-hidden thumb-img-wrapper">
                          <img class="uk-animation-scale uk-animation-reverse" style="width:364px; height: 580px" src="http://4.bp.blogspot.com/-EnisHSvZrew/TgQwveupEtI/AAAAAAAAAAw/VfWKZtWVdXc/s1600/franko+with+sly.jpg" alt="About Slideset Images">
                        </div>
                        <figcaption class="uk-overlay-panel uk-overlay-bottom">
                          <div class="uk-text-left">
                            <h3 class="h-3">The Arm Squad</h3>
                            <div class="title-line-lg"></div>
                            <p class="text-overview">Ever wanted to feel like a champion weight-lifter on arm day!?! Let's hit the gym with extensive work-out tutorials... not for the fair of heart!</p>
                            <a class="text-overview">Read more<img class="icon-right" src="images/images_wellness/icon-arrow-right.png" alt="Read More Icon"></a>
                          </div>
                        </figcaption>
                      </figure>
                    </li>
                    <li class="thumbnails-wrapper">
                      <figure class="uk-overlay uk-animation-hover">
                        <div class="overflow-hidden thumb-img-wrapper">
                          <img class="uk-animation-scale uk-animation-reverse" style="width:364px; height: 580px" src="https://i.embed.ly/1/display/resize?key=1e6a1a1efdb011df84894040444cdc60&url=http%3A%2F%2Ffitbodybuzz.com%2Fwp-content%2Fuploads%2F2014%2F10%2Fbenefits-of-calisthenics.jpg" alt="About Slideset Images">
                        </div>
                        <figcaption class="uk-overlay-panel uk-overlay-bottom">
                          <div class="uk-text-left">
                            <h3 class="h-3">The Calisthetics Group</h3>
                            <div class="title-line-lg"></div>
                            <p class="text-overview">Follow us for sensible guides on how to take 30-minutes and use the most direct work-out all on your own or visit us on our gym meet-ups for someone on one on one coaching!</p>
                            <a class="text-overview">Read more<img class="icon-right" src="images/images_wellness/icon-arrow-right.png" alt="Read More Icon"></a>
                          </div>
                        </figcaption>
                      </figure>
                    </li>
                    <li class="thumbnails-wrapper">
                      <figure class="uk-overlay uk-animation-hover">
                        <div class="overflow-hidden thumb-img-wrapper">
                          <img class="uk-animation-scale uk-animation-reverse" src="images/images_wellness/about_slider_02_01.jpg" alt="About Slideset Images">
                        </div>
                        <figcaption class="uk-overlay-panel uk-overlay-bottom">
                          <div class="uk-text-left">
                            <h3 class="h-3">harmony</h3>
                            <div class="title-line-lg"></div>
                            <p class="text-overview">Cliche everyday carry selvage, chicharrones chambray four dollar toast hashtag fingerstache. Irony kombucha wayfarers church-key keytar. Wolf</p>
                            <a class="text-overview">Read more<img class="icon-right" src="images/images_wellness/icon-arrow-right.png" alt="Read More Icon"></a>
                          </div>
                        </figcaption>
                      </figure>
                    </li>
                    <li class="thumbnails-wrapper">
                      <figure class="uk-overlay uk-animation-hover">
                        <div class="overflow-hidden thumb-img-wrapper">
                          <img class="uk-animation-scale uk-animation-reverse" src="images/images_wellness/about_slider_02_02.jpg" alt="About Slideset Images">
                        </div>
                        <figcaption class="uk-overlay-panel uk-overlay-bottom">
                          <div class="uk-text-left">
                            <h3 class="h-3">extreme</h3>
                            <div class="title-line-lg"></div>
                            <p class="text-overview">Cliche everyday carry selvage, chicharrones chambray four dollar toast hashtag fingerstache. Irony kombucha wayfarers church-key keytar. Wolf</p>
                            <a class="text-overview">Read more<img class="icon-right" src="images/images_wellness/icon-arrow-right.png" alt="Read More Icon"></a>
                          </div>
                        </figcaption>
                      </figure>
                    </li>
                    <li class="thumbnails-wrapper">
                      <figure class="uk-overlay uk-animation-hover">
                        <div class="overflow-hidden thumb-img-wrapper">
                          <img class="uk-animation-scale uk-animation-reverse" src="images/images_wellness/about_slider_02_03.jpg" alt="About Slideset Images">
                        </div>
                        <figcaption class="uk-overlay-panel uk-overlay-bottom">
                          <div class="uk-text-left">
                            <h3 class="h-3">diet</h3>
                            <div class="title-line-lg"></div>
                            <p class="text-overview">Cliche everyday carry selvage, chicharrones chambray four dollar toast hashtag fingerstache. Irony kombucha wayfarers church-key keytar. Wolf</p>
                            <a class="text-overview">Read more<img class="icon-right" src="images/images_wellness/icon-arrow-right.png" alt="Read More Icon"></a>
                          </div>
                        </figcaption>
                      </figure>
                    </li>
                    <!-- / slideset item list end -->
                  </ul>
                  <!-- dotnav -->
                  <a href="" class="uk-slidenav uk-slidenav-previous" data-uk-slideset-item="previous"></a>
                  <a href="" class="uk-slidenav uk-slidenav-next" data-uk-slideset-item="next"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
              </div>
    </section>
        <!-- / ABOUT SLIDESET END -->